* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

html,
body {
    background: white;
    margin: 0;
}

.grid-item,
header,
main,
nav,
aside,
footer {
    background: white;
    color: black;
    border: 1px solid white;
}

html,
body {
}

body {
    display: grid;
    justify-content: center;
    grid-template-columns: 25em auto 15em;
    grid-template-rows: min-content auto min-content;
}

main {
    grid-column: 2/4;
}

header {
    grid-column: 1/4;
}

footer {
    grid-column: 1/4;
}

nav > ul {
    list-style-type: none;
}

img {
    height: 50px;
    width: 70px;
}
