.walla {
    padding: 100px 50px 100px 100px;
    background-color: #b9e9e9;
    font-size: 50px;
}

.wrapper {
    display: grid;
    background-color: #c9e9e9;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
    padding-left: 50px;
}

.erste {
    display: grid;
    background-color: #e6e6e6;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 650px));
    padding: 50px 0 50px 0;
}

.kh {
    display: grid;
    background-color: #e6e6e6;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 650px));
    padding: 0px 0 50px 0;
}

.rafi {
    display: grid;
    background-color: #e6e6e6;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 650px));
    padding: 0px 0 50px 0;
}

.year {
    padding-left: 50px;
}
